* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

/*advertisement section start*/
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adv-advertisement {
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbfbfb;
}

.adv-container {
  min-width: 375px;
  min-height: 472px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  align-items: center;
}

.adv-advert-box {
  max-width: 355px;
  text-align: left;
  margin: 0 auto;
}

.adv-discount-text {
  width: 100%;
  max-width: 335px;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
}

.adv-discount-span {
  display: inline-block;
  max-width: 335px;
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  color: #fbfbfb;
  background: #576f35;
  background-size: 102px;
  text-transform: uppercase;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {

  .adv-advertisement {
     padding-top: 100px;
    padding-bottom: 100px;
  }

  .adv-advert-box {
    max-width: 736px;
  }

  .adv-discount-text {
    font-size: 64px;
    line-height: 80px;
    max-width: 704px;
  }

  .adv-discount-span {
    font-size: 64px;
    line-height: 80px;
    max-width: 736px;
  }
}

@media screen and (min-width: 1280px) {

  .adv-advertisement {
    padding-top: 100px;
   padding-bottom: 100px;
 }

  .adv-advert-box {
    max-width: 1080px;
  }

  .adv-discount-text {
    font-size: 76px;
    line-height: 80px;
    max-width: 1054px;
  }

  .adv-discount-span {
    font-size: 76px;
    line-height: 80px;
    max-width: 808px;
    padding-left: 16px;
  }
}
/*advertisement section end*/
